<body>
  <div class="header">
    <h1 align="center">ABOUT US</h1>
  </div>
  <div class="para">
    <!-- <p> -->
    <ul>
      <li>
        We create a new way for consumers to purchase vehicles as well as manage
        all other interactions with the dealership very convenient
      </li>
      <li>
        Helpful and reliable services and maintenance of the vehicle is provided
      </li>
      <li>All very convinient online that is free to the user</li>
      <li>
        Now the consumer is in control of what can become a genuine relationship
        with the dealer
      </li>
    </ul>
    <!-- </p> -->
  </div>
  <div>
    <img class="pic" src="assets/img/p1.jpg" />
  </div>
</body>
