header {
  background: rgb(255, 255, 255);
}
header .logo {
  font-weight: bold;
  font-size: large;
}
header nav {
  justify-self: right;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  float: left;
}
header nav ul li a {
  padding: 1.5em;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  font-size: large;
}
header nav ul li a:hover {
  background: rgb(192, 192, 192);
}
